<div class="aside">
	<%- partial('_partial/_sidebar/sidebar') %>
</div>

<div class="content">
	<section class="tags">
		<div class="page-title"><i style="font-size:28px;font-weight:400" class="iconfont icon-tag"></i>&ensp;标签分类</div>
		<%- list_tags(site.tags) %>
	</section>
</div>