@font-face {
	font-family: 'HuaWenZhongSong';
	src: url('//cdn.jsdelivr.net/gh/ukityh/pics@master/fonts/HuaWenZhongSong.ttf');
}

@font-face {
	font-family: 'HuaWenKaiTi';
	src: url('//cdn.jsdelivr.net/gh/ukityh/pics@master/fonts/HuaWenKaiTi.ttf');
}

$font-family-title    = Georgia, serif, STZhongsong, HuaWenZhongSong;

$font-family-post     = "Lucida Sans Unicode", "Lucida Grande", sans-serif, serif, LiHei Pro Medium, Apple LiGothic Medium, STHeiti Light, Microsoft YaHei, STHeiti, SimHei;

