<div class="yiyan">
	<div class="yiyan-title">&ensp;<i style="font-size:18px" class="iconfont icon-loudspeaker"></i>&thinsp;公告</div>
	<p id="hitokoto">欢迎来到本站！<br>因为喜新厌旧，所以可能会轮换主题使用（再说）。</p>
</div>

<div class="friends">
	<div class="friends-title">&ensp;<i class="iconfont icon-plane"></i>&thinsp;特等席</div>
	<div class="friends-umi">
		<a href="http://umi0208.github.io" target="_blank" title="访问"><img no-lazy class="friends-umi-img" src="//cdn.jsdelivr.net/gh/umi0208/umi0208.github.io@master/img/avatar.png"></a>
		<p>是嗑的CP总是be的<br>抽盲盒总是抽不到想要的<br>实习魔法少女Umi</p>
	</div>
</div>