<div class="nav-sum">
	<a class="nav-counthref1" href="/archives">
		<span style="font-size:20px"><%- site.posts.length %></span></br>
		<span style="font-size:16px">归档</span></a>
	<a class="nav-counthref2" href="/tags" >
		<span style="font-size:20px"><%- site.tags.length %></span></br>
		<span style="font-size:16px">标签</span></a>
</div>