.yiyan, .friends {
	padding: 1.2rem 7% .6rem;
	margin-bottom: 1rem;
	box-shadow: 0px 0px 1rem rgba($color-block,0.2);
	background-color: rgba($color-block,$post-block-opacity);
	transition-duration: .3s;
	text-align: justify;
	animation:fadein .5s ease-in;
	-webkit-animation:fadein .5s ease-in;
	-moz-animation:fadein .5s ease-in;
	-o-animation:fadein .5s ease-in;
	-ms-animation:fadein .5s ease-in;
	
	&:hover {
	    background-color: rgba($color-block, $post-hover-opacity);
	    box-shadow: 0px 0px 2rem rgba($color-block, 0.6);
	}
	
	@media screen and (max-width: 1000px) {
		padding: 1.2rem 2% .6rem;
	}
}

.friends-umi {
	text-align: center;
	
	.friends-umi-img {
	width: 6rem;
	border-radius: 100%;
	-webkit-transition: transform 0.8s ease;
	-o-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
	margin-top: 1rem;
	border: 2px solid $white;
	border-radius: 100%;
	box-shadow: 0px 0px .6rem rgba($color-block, 0.4);
	
		&:hover {
			transform: scale(1.05)
			-webkit-transform: scale(1.05)
			-ms-transform: scale(1.05)
			-o-transform: scale(1.05)
		}
	}
}

.yiyan-title, .friends-title {
	font-size: 19px;
	font-family: $font-family-title;
	color: $color-font;
	font-weight: 600;
	position: relative;
	border-bottom: 1px dashed rgba($color-font, 0.5);
	padding-bottom: .2rem;
}